body{
    padding: 100px;
}

.email-area{
    padding: 40px;
    box-shadow: 5px 5px 10px  gray, -3px -3px 10px gray;
    border-radius: 5px;
}

.submit-area{
    margin-top: 50px;
    padding: 40px;
    box-shadow: 0 0 10px 5px rgb(212, 212, 212) ;
    border-radius: 6px;

}

#main{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 15px;
    border-radius: 4px;
    width: 80%;
}


@media only screen and (max-width: 600px) {
	#email-section, #heading{
		position:relative;
		left:-50px;
	}
 	.input{
		width:100%;
		padding:5px;
	        
	}
}


@media only screen and (max-width: 490px) {

 	.input{
		width:105%;
		padding-right:5px;
	        
	}
}
  
  

