body{
    padding:0;
    margin-top:100px;
}
#login-area{
    padding:0 15px;
}
.email-area{
    padding: 40px;
    box-shadow: 5px 5px 10px  gray, -3px -3px 10px gray;
    border-radius: 5px;
}

.submit-area{
    margin-top: 50px;
    padding: 40px;
    box-shadow: 0 0 10px 5px rgb(212, 212, 212) ;
    border-radius: 6px;

}

#main{
    display: none;
    padding:0 50px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.Flex{
    display: flex;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 15px;
    border-radius: 4px;
    width: 80%;
}

@media only screen and (min-width: 800px) {
	#email-area{
		width: 50%;
    }
    .submit-area{
        width: 80%;
    }

}
@media only screen and (max-width: 600px) {
	.Flex{
        display: block;
    }

}
/* 
@media only screen and (max-width: 600px) {
	#email-section, #heading{
		position:relative;
		left:-50px;
	}
 	.input{
		width:100%;
		padding:5px;
	        
	}
}


@media only screen and (max-width: 490px) {

 	.input{
		width:105%;
		padding-right:5px;
	        
	}
} */
  
  

